* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(./assets/bg.png) no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Silkscreen', cursive;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  position: relative;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #ffcf56;
  text-shadow: #000000 1px 1px 1px, #000000 1px 1px 1px;
  transition: color 0.15s;
}

button::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  background-color: #ffcf56;
  clip-path: polygon(100% 51%, 0 0, 0 100%);
  z-index: 1;
  transform: translate(2%, -20%);
  opacity: 0;
  transition: all 0.1s;
}

button::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  left: 0;
  background-color: hsl(45, 100%, 10%);
  clip-path: polygon(100% 51%, 0 0, 0 100%);
  z-index: 0;
  transform: translateY(-25%);
  opacity: 0;
  transition: opacity 0.1s;
}


button:hover {
  color: #ffcf56;
}

button:hover::before {
  opacity: 1;
}

button:hover::after {
  opacity: 1;
}

button:focus {
  color: #ffffff;
}

button:focus::before {
  opacity: 1;
  background-color: #ffffff;
}

button:focus::after {
  opacity: 1;
}